@import "../common/variables.scss";
@import "../common/mixins.scss";

.sorting-box-wrapper {
  @include flex-center($direction: column, $gap: 10px);

  .sorting-box {
    border-radius: $button-box-border-radius;
    background-color: $button-color;
    border: none;
    padding: 3px;
    width: 205px;

    @include button-hover;
  }
}
