@import "./variables-mixin.scss";

.back-button {
  position: fixed;
  top: 90px;
  left: 50px;

  width: 70px;
  border-radius: $button-box-border-radius;
  border: none;
  background-color: $button-color;
  padding: 3px;

  &:hover {
    background-color: $main-orange;
    box-shadow: $button-box-shadow;
  }
}
