@import "../common/variables.scss";
@import "../common/mixins.scss";

.form-wrapper {
  width: 60%;

  margin: 100px auto;

  form {
    @include flex-center($direction: column, $gap: 20px);

    .info-wrapper {
      @include card-base;
      @include logo-box($width: 850px, $height: 100px);

      label {
        border-radius: $button-box-border-radius;
        margin: 50px 20px;

        .required {
          @include required;
        }
      }

      input {
        margin-left: 10px;
        border-radius: $button-box-border-radius;
        border: none;
        height: 30px;
      }
    }

    .message-wrapper {
      @include image-wrapper(850px, 500px);
      @include card-base;

      .required {
        @include required;
      }

      textarea {
        display: block;
        margin-top: 10px;
        border-radius: $button-box-border-radius;
        border: none;
      }
    }

    button {
      @include button-hover;
      width: 90px;
      border-radius: $button-box-border-radius;
      border: none;
      background-color: $button-color;
      padding: 3px;
    }
  }
}

@media (max-width: 790px) {
  .form-wrapper {
    width: 50%;
    margin: 50px auto;

    form {
      gap: 20px;

      .info-wrapper {
        width: 300px;
        height: 400px;
        flex-direction: column;
      }

      .message-wrapper {
        width: 500px;
        height: 500px;
      }

      button {
        margin-bottom: 100px;
      }
    }
  }
}
