@import "./animation.scss";
@import "./variables-mixin.scss";

html,
body {
  background: linear-gradient(to right, #bbb9b9, #d4bdab, #bbb9b9);
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .one-place-logo {
      width: 100%;
      padding: 0;
    }

    h2 {
      color: white;
      font-size: 50px;
      padding: 0;
      margin: 0;

      animation: flashing 8s linear infinite;
    }
  }
  img {
    width: 50%;
  }
}
