@import "../common/animation.scss";
@import "../common/variables.scss";
@import "../common/mixins.scss";

.home-wrapper {
  .content-wrapper {
    @include flex-center(column, center, center, 5px);

    .one-place-logo {
      width: 60%;
      padding: 0;
    }

    h2 {
      font-size: 50px;
      padding: 0;
      margin-top: 100px;
      color: $button-color;
      animation: flashing 8s linear infinite;
    }
  }

  .bg-video {
    width: 60%;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: auto;
    position: fixed;
    border-radius: 30px;
    box-shadow: $button-box-shadow;
    background-color: $button-color;
  }
}

@media (max-width: 1100px) {
  .home-wrapper {
    .content-wrapper {
      .one-place-logo {
        width: 80%;
      }

      h2 {
        font-size: 30px;
      }
    }

    .bg-video {
      width: 70%;
      height: 40%;
      bottom: 50px;
    }
  }
}

@media (max-width: 790px) {
  .home-wrapper {
    .content-wrapper {
      .one-place-logo {
        width: 100%;
        min-width: 520px;
      }

      h2 {
        font-size: 30px;
      }
    }

    .bg-video {
      width: 90%;
      min-width: 520px;
    }
  }
}
