@import "./variables-mixin.scss";

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $product-img-back-color;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.ReactModal__Content {
  position: relative;
  background: $product-box-color;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  height: 300px;
  border-radius: $product-card-border-radius;
  outline: none;
  box-shadow: $button-box-shadow;
  margin: auto;
}

.secssess-note {
  text-align: center;

  h1,
  h2 {
    margin-top: 100px;
  }

  button {
    width: 90px;
    border-radius: $button-box-border-radius;
    border: none;
    background-color: $button-color;
    padding: 3px;
    margin: 20px;

    &:hover {
      background-color: $main-orange;
      box-shadow: $button-box-shadow;
    }

    &.close-button {
      position: absolute;
      width: auto;
      top: 5px;
      right: 0px;
      background: $button-color;
      font-size: 15px;
    }

    &.cancel-button {
      background-color: #ccc;
    }
  }
}
