@import "../common/variables.scss";
@import "../common/mixins.scss";

.products-wrapper {
  .loading-message {
    @include loading-message(300px, 50px);
  }

  .filter-menu {
    display: none;
    background: none;
    border: none;
    color: $color-white;
    font-size: 1rem;
    cursor: pointer;
  }

  .filter-sort-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include fixed-center($top: 130px, $left: 50px);

    @include pointer-hover;

    .logo-wrapper {
      @include logo-box($width: 205px, $height: 50vh, $bg: $product-box-color);
      @include fixed-center($top: 370px, $left: 50px);

      .vertical-logo {
        height: 90%;
      }
    }
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 70px 300px;
    padding: 10px 0;

    .product-card {
      @include card-hover;
      @include card-base;
      @include flex-center(column, space-between, center);
      width: 220px;
      margin: 10px;
      padding: 10px;

      .card-items {
        @include flex-center(column, space-around, center);
      }

      .nav-link {
        text-decoration: none;
        color: $font-color;
        font-family: "Roboto", sans-serif;
      }

      .products-img-wraper {
        @include image-wrapper(200px, 250px);

        img {
          align-self: center;
          width: 120px;
          object-fit: contain;
        }
      }

      h4 {
        width: 200px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  .products-wrapper {
    .product-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
}

@media (max-width: 1000px) {
  .products-wrapper {
    .product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 790px) {
  .products-wrapper {
    .loading-message {
      margin: 150px;
      font-size: 30px;
    }
    .back-button {
      display: none;
    }

    .filter-menu {
      display: block;
      position: fixed;
      color: $color-white;
      padding: 3px;
      background-color: $button-color;
      border-radius: $button-box-border-radius;
      top: 10px;
      left: 10px;
      z-index: 9999;
    }
    .left-menu-wrapper {
      position: fixed;
      display: none;
      width: 270px;
      height: 80vh;
      background-color: $overlay-back-color;
      border-radius: 0 10px 10px 0;
      box-shadow: $button-box-shadow;
      pointer-events: none;
      overflow: hidden;

      .filter-sort-wrapper {
        display: flex;
        top: 80px;
        left: 30px;

        .logo-wrapper {
          background-color: rgba(0, 0, 0, 0);
          width: 205px;
          height: 50vh;
          left: 30px;
          top: 330px;
        }
      }
    }

    .left-menu-wrapper.visible {
      display: flex;
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 50px 0 100px 50px;
      padding: 10px 0;
      gap: 20px;
    }
  }

  .products-wrapper.menu-open {
    overflow: hidden;

    > * {
      pointer-events: none;
    }
    .filter-menu {
      pointer-events: auto;
      position: relative;
      margin-bottom: 26px;
    }
  }
}

@media (max-width: 550px) {
  .products-wrapper {
    .product-list {
      grid-template-columns: 1fr;
      margin: 50px 0 100px 70px;
    }
  }
}
