@import "./variables-mixin.scss";

.products-wrapper {
  .filter-sort-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 13%;
    margin: 20px 3%;
    gap: 20px;

    & :hover {
      cursor: pointer;
    }
  }

  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 4% 20%;
    padding: 10px 0;
    gap: 20px;

    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 220px;
      border-radius: $product-card-border-radius;
      margin: 10px;
      padding: 10px;
      background-color: $product-box-color;
      box-shadow: $button-box-shadow;

      &:hover {
        cursor: pointer;
        box-shadow: $card-box-shadow;
        transform: translateY(-3px);
      }

      .card-items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      .nav-link {
        text-decoration: none;
        color: $font-color;
        font-family: "Roboto", sans-serif;
      }

      .products-img-wraper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 250px;
        background-color: $product-img-back-color;
        border-radius: $product-card-border-radius;

        img {
          align-self: center;
          width: 120px;
          object-fit: contain;
        }
      }

      h4 {
        width: 200px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}
