@import "./variables-mixin.scss";

.shopping-cart-container {
  .empty-shopping-cart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .empty-shopping-cart-message {
      width: 40%;
      border-radius: $product-card-border-radius;
      box-shadow: $button-box-shadow;
      margin-top: 300px;
      background-color: $product-box-color;
      padding: 40px;
      color: $font-color;
      text-align: center;
      font-size: 25px;

      .horizantl-logo {
        width: 95%;
      }
    }
  }

  .shopping-cart-wrapper {
    ul {
      list-style-type: none;
      margin-bottom: 200px;
    }

    .product-info-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 50px;
      border-radius: $product-card-border-radius;
      width: 60%;
      height: 200px;
      background-color: $product-box-color;
      box-shadow: $button-box-shadow;
      margin-bottom: 30px;
      padding: 0 30px;
      position: relative;
      left: 32%;
      top: 72px;

      &:hover {
        cursor: pointer;
        box-shadow: $card-box-shadow;
        transform: translateY(-3px);
      }

      .shopping-product-img {
        margin-left: 30px;
      }

      .product-title {
        padding-right: 30px;
      }
    }

    .checkout-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: $product-card-border-radius;
      width: 200px;
      height: 70vh;
      position: fixed;
      left: 8%;
      top: 87px;
      background-color: $product-box-color;
      box-shadow: $button-box-shadow;

      &:hover {
        cursor: pointer;
        box-shadow: $card-box-shadow;
        transform: translateY(-3px);
      }

      .checkout-button {
        width: 90px;
        border-radius: $button-box-border-radius;
        border: none;
        background-color: $button-color;
        padding: 3px;

        &:hover {
          background-color: $main-orange;
          box-shadow: $button-box-shadow;
        }
      }
      .checkout-info-wrapper {
        text-align: center;
      }

      .one-logo {
        display: none;
      }

      .vertical-logo {
        height: 60%;
      }
    }
  }
}

@media (max-width: 790px) {
  .shopping-cart-container {
    .empty-shopping-cart-wrapper {
      .empty-shopping-cart-message {
        width: 70%;
        font-size: 20px;

        .horizantl-logo {
          width: 100%;
        }
      }
    }

    .shopping-cart-wrapper {
      ul {
        margin-bottom: 400px;
      }

      .product-info-wrapper {
        flex-direction: column;
        justify-content: space-around;
        gap: 2px;
        height: 350px;
        width: 70%;
        min-width: 200px;
        left: 8%;
        top: 285px;

        .shopping-product-img {
          margin-left: 0;
        }

        .product-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 0;
        }
      }

      .checkout-content-wrapper {
        flex-direction: column;
        gap: 2px;
        border-radius: $product-card-border-radius;
        height: 270px;
        width: 100%;
        left: 0;
        top: 0px;
        z-index: 990;

        .one-logo {
          display: block;
          width: 50%;
        }

        .vertical-logo {
          display: none;
        }
      }
    }
  }
}
