@import "../common/variables.scss";
@import "../common/mixins.scss";

.shopping-cart-container {
  .empty-shopping-cart-wrapper {
    @include flex-center($direction: column);

    .empty-shopping-cart-message {
      @include card-base;
      width: 40%;
      margin-top: 300px;
      padding: 40px;
      color: $font-color;
      text-align: center;
      font-size: 25px;

      .horizantl-logo {
        width: 95%;
      }
    }
  }

  .shopping-cart-wrapper {
    ul {
      list-style-type: none;
      margin-bottom: 200px;
    }

    .product-info-wrapper {
      @include flex-center(
        $direction: row,
        $justify: flex-start,
        $align: center,
        $gap: 50px
      );
      @include card-base;
      @include card-hover;

      width: 60%;
      height: 200px;
      margin-bottom: 30px;
      padding: 0 30px;
      position: relative;
      left: 32%;
      top: 72px;

      .shopping-product-img {
        margin-left: 30px;
      }

      .product-title {
        padding-right: 30px;
      }
    }

    .checkout-content-wrapper {
      @include flex-center($direction: column, $gap: 10px);
      @include card-base;
      @include card-hover;
      @include fixed-center($top: 87px, $right: null, $bottom: null, $left: 8%);

      width: 200px;
      height: 70vh;

      .checkout-button {
        @include button-hover;

        width: 90px;
        border-radius: $button-box-border-radius;
        border: none;
        background-color: $button-color;
        padding: 3px;
      }

      .checkout-info-wrapper {
        text-align: center;
      }

      .one-logo {
        display: none;
      }

      .vertical-logo {
        height: 60%;
      }
    }
  }
}

@media (max-width: 790px) {
  .shopping-cart-container {
    .empty-shopping-cart-wrapper {
      .empty-shopping-cart-message {
        width: 70%;
        font-size: 20px;

        .horizantl-logo {
          width: 100%;
        }
      }
    }

    .shopping-cart-wrapper {
      ul {
        margin-bottom: 400px;
      }

      .product-info-wrapper {
        flex-direction: column;
        justify-content: space-around;
        gap: 2px;
        height: 350px;
        width: 70%;
        min-width: 200px;
        left: 8%;
        top: 285px;

        .shopping-product-img {
          margin-left: 0;
        }

        .product-title {
          @include flex-center($direction: column);
          text-align: center;
          padding: 0;
        }
      }

      .checkout-content-wrapper {
        flex-direction: column;
        gap: 2px;
        border-radius: 0 0 10px 10px;
        height: 270px;
        width: 100%;
        left: 0;
        top: 0px;
        z-index: 990;

        .one-logo {
          display: block;
          width: 50%;
        }

        .vertical-logo {
          display: none;
        }
      }
    }
  }
}
