@import "../common/variables.scss";
@import "../common/mixins.scss";

.product-container {
  .loading-message {
    background-color: $modales-back-color;
    border-radius: $product-card-border-radius;
    margin: 40%;
    font-size: 50px;
  }

  .product-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 20px 100px 140px;
    gap: 20px;

    .product-info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      width: 300px;
      height: auto;
      text-align: center;
      background-color: $product-box-color;
      border-radius: $product-card-border-radius;
      box-shadow: $button-box-shadow;

      .product-info {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }

      .product-price {
        font-size: 20px;
      }
    }

    .img-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 600px;
      height: 75vh;
      background-color: $product-box-color;
      border-radius: $product-card-border-radius;
      box-shadow: $button-box-shadow;
    }

    .product-img {
      width: 70%;
    }
  }
}

@media (max-width: 790px) {
  .product-container {
    .back-button {
      top: 10px;
      left: 10px;
    }
    .product-wrapper {
      flex-direction: column;
      margin: 80px 10px;

      .product-info-wrapper {
        padding: 40px 0;
        width: 600px;
        height: auto;
        margin-bottom: 50px;

        .product-info {
          display: flex;
          justify-content: space-between;
          gap: 20px;
        }

        .product-price {
          font-size: 20px;
        }
      }
    }
  }
}
