@import "./variables-mixin.scss";

.sorting-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .sorting-box {
    border-radius: $button-box-border-radius;
    background-color: $button-color;
    border: none;
    padding: 3px;
    width: 205px;

    &:hover {
      box-shadow: $button-box-shadow;
      background-color: $main-orange;
    }
  }
}
