@import "./variables-mixin.scss";

.truncate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .truncate-text {
    width: 350px;
    text-align: center;
  }

  .show-hide-button {
    width: 70px;
    border-radius: $button-box-border-radius;
    border: none;
    background-color: $button-color;
    padding: 3px;

    &:hover {
      background-color: $main-orange;
      box-shadow: $button-box-shadow;
    }
  }
}
