$main-orange: #d35e41;
$font-color: black;
$button-color: #e38f7a;
$modales-back-color: #e38f7a;
$background-color-main: #e2e5e5;
$product-box-color: #cac9c9;
$product-img-back-color: #bfbcbc;
$color-white: #f5f2f2;
$navbar-back-color: rgb(18, 22, 68);
$overlay-back-color: rgba(18, 22, 68, 0.7);
$light-blue: rgb(65, 80, 179);

$button-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);

$card-box-shadow: -1px 6px 14px 3px #5d5b56 inset;

$button-box-border-radius: 7px;
$product-card-border-radius: 10px;
